#### Q1. What is MongoDB? Explain non-relational databases in short. In which scenarios it is preferred to use
#### MongoDB over SQL databases?

In [1]:
# MongoDB is a schema-less database, which means the database can manage data without the need for a blueprint.

In [2]:
# MongoDB is a non-relational document database that provides support for JSON-like storage.

In [3]:
# MongoDB is a more dynamic and complicated choice that is appropriate for hierarchical data because of
# its fundamental properties, as opposed to a SQL Database, which is still more predetermined and 
# appropriate for other types of data storage.

#### Q2. State and Explain the features of MongoDB.

In [4]:
# Features of MongoDB include the following:-

# Replication :- A replica set is two or more MongoDB instances used to provide high availability.
# Scalability :- MongoDB supports vertical and horizontal scaling.
# Load balancing :- MongoDB handles load balancing without the need for a separate, 
#                  dedicated load balancer, through either vertical or horizontal scaling.
# Schema-less :- MongoDB is a schema-less database, which means the database can manage data without the need for a blueprint.
# Document :- Data in MongoDB is stored in documents with key-value pairs instead of rows and columns, which makes the data 
#             more flexible when compared to SQL databases.

#### Q3. Write a code to connect MongoDB to Python. Also, create a database and a collection in MongoDB.

In [ ]:
# A code to connect MongoDB to Python.
pip install pymongo

import pymongo 
    
from pymongo.mongo_client import MongoClient

uri = "mongodb+srv://Rekoms:rekoms@cluster0.e8feh2h.mongodb.net/?retryWrites=true&w=majority"

# Create a new client and connect to the server
client = MongoClient(uri)

# Send a ping to confirm a successful connection
try:
    client.admin.command('ping')
    print("Pinged your deployment. You successfully connected to MongoDB!")
except Exception as e:
    print(e)

In [ ]:
db = client['pwskills']
coll_pwskills = db["my_record"]

data=[{ "name": "Amy", "address": "Apple st 652" },
  { "name": "Hannah", "address": "Mountain 21" },
  { "name": "Michael", "address": "Valley 345" },
  { "name": "Sandy", "address": "Ocean blvd 2" },
  { "name": "Betty", "address": "Green Grass 1" },
  { "name": "Richard", "address": "Sky st 331" },
  { "name": "Susan", "address": "One way 98" },
  { "name": "Vicky", "address": "Yellow Garden 2" },
  { "name": "Ben", "address": "Park Lane 38" },
  { "name": "William", "address": "Central st 954" },
  { "name": "Chuck", "address": "Main Road 989" },
  { "name": "Viola", "address": "Sideway 1633" }
]

coll_pwskills.insert_many(data)

#### Q4. Using the database and the collection created in question number 3, write a code to insert one record,
#### and insert many records. Use the find() and find_one() methods to print the inserted record.

In [ ]:
# A code to insert one record :-
 coll_pwskills.insert_one(data)
    
# A code to insert many records :-
coll_pwskills.insert_many(data)


# Useing the find() and find_one() methods to print the inserted record :-
for i in coll_pwskills.find():
    print(i)

    
coll_pwskills.find_one()

#### Q5. Explain how you can use the find() method to query the MongoDB database. Write a simple code to
#### demonstrate this.

In [5]:
# In MongoDB, find() method is used to select documents in a collection and return a cursor to the selected documents.

In [ ]:
db = client['pwskills']
coll_pwskills = db["my_record"]

data=[{ "name": "ansh", "address": "Apple st 652" },
  { "name": "Hannah", "address": "Mountain 21" },
  { "name": "Michael", "address": "Valley 345" },
     ]
coll_pwskills.insert_many(data)

for i in coll_pwskills.find({'name': 'ansh'}):
    print(i)

#### Q6. Explain the sort() method. Give an example to demonstrate sorting in MongoDB.

In [6]:
# The sort() method specifies the order in which the query returns the matching documents from the given collection.

In [ ]:
# example

db.restaurants.insertMany( [
   { "_id" : 1, "name" : "Central Park Cafe", "borough" : "Manhattan"},
   { "_id" : 2, "name" : "Rock A Feller Bar and Grill", "borough" : "Queens"},
   { "_id" : 3, "name" : "Empire State Pub", "borough" : "Brooklyn"},
   { "_id" : 4, "name" : "Stan's Pizzaria", "borough" : "Manhattan"},
   { "_id" : 5, "name" : "Jane's Deli", "borough" : "Brooklyn"},
] );

In [ ]:
db.restaurants.find().sort( { "borough": 1 } )

#### Q7. Explain why delete_one(), delete_many(), and drop() is used.

In [ ]:
# Delete_one():- Deleting document from Collection or Database. In MongoDB, a single document can be deleted by the method delete_one(). 

# Delete_many():- It is used when one needs to delete more than one document. 

# Drop():- db.collection.drop() is used to drop a collection from the database